<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <Resource name="jdbc/cosmic"
              auth="Container"
              type="javax.sql.DataSource"
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
              driverClassName="org.mariadb.jdbc.Driver"
              url="jdbc:mariadb:failover://localhost:3306/cloud?autoReconnect=true"
              username="cloud"
              password="cloud"
              defaultTransactionIsolation="READ_COMMITTED"
              maxActive="250"
              maxIdle="30"
              minIdle="10"
              initialSize="10"
              maxWait="10000"
              validationQuery="SELECT 1"
              validationQueryTimeout="30"
              testOnBorrow="true"
              testWhileIdle="true"
              timeBetweenEvictionRunsMillis="40000"
              minEvictableIdleTimeMillis="240000"
    />
    <Resource name="jdbc/cosmic_usage"
              auth="Container"
              type="javax.sql.DataSource"
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
              driverClassName="org.mariadb.jdbc.Driver"
              url="jdbc:mariadb:failover://localhost:3306/cloud_usage?autoReconnect=true"
              username="cloud"
              password="cloud"
              maxActive="100"
              maxIdle="30"
              minIdle="10"
              initialSize="10"
              maxWait="10000"
              validationQuery="SELECT 1"
              validationQueryTimeout="30"
    />
</Context>
