apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cosmic-vault
  namespace: cosmic
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: cosmic-vault
    spec:
      containers:
      - name: cosmic-vault
        image: vault:latest
        env:
        - name: VAULT_DEV_ROOT_TOKEN_ID
          value: cosmic-vault-token
        - name: VAULT_TOKEN
          value: cosmic-vault-token
        - name: VAULT_ADDR
          value: http://127.0.0.1:8200
        ports:
        - containerPort: 8200
        securityContext:
          capabilities:
            add:
            - IPC_LOCK
